*{
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: white;
}

hr{
    color: #dde1e4;
}

[class*=-title]{
    text-transform:uppercase;
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: bold;
}

.buttons{
    font-family: 'Quattrocento Sans', sans-serif;
    border-color: white;
    text-decoration: none;
    border: 1px solid white;
    display: block;
    border-radius: 3px;
    text-transform:uppercase;
}

.buttons:hover{
    color:  white;
    /* border: 1px solid #23b7a4; */
    background-color: #23b7a4;  
    border-color: #23b7a4;
}

.buttons-size{
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    width: 120px;
    color: white;
    margin-right: 10px;
    margin-top: 35px;
}

.pages-frame{
    padding-top: 80px;
    padding-bottom: 60px;
    font-size: 16px;
    line-height: 20px;
}

.pages-title{
    display: flex;
    color: #292f36;
    font-size: 36px;
    line-height: 100%;
    font-weight: bold;
    margin-bottom: 60px;
}

.pages-title::before{
    content: "";
    display: block;
    width: 10px;
    height: 36px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-right: 10px;
}

.color-white{
    color: white;
}

/* Set the size of the div element that contains the map */
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }