.modest-desctription{
    margin-bottom: 30px;
}

.modest-frame-social{
    width: 100%;
    display: flex;
    margin: 50px 0;
}

.modest-frame-social>div{
    width: 60px;
    height: 60px;
    background-color: #c8cdd0;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    color: white;
    font-size: 24px;
    line-height: 60px;
    margin-right: 2px;
    cursor: pointer;
}

/* .modest-frame-social>div:hover{
    background-color: gray;
} */

.modest-right-size-list-item>li{
    display: flex;
    margin-bottom: 30px;
}

.modest-number-square{
    width: 50px;
    height: 50px;
    background-color: #23b7a4;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    flex: 0 0 auto;
}

.modest-list-item-text-frame{
    margin-left: 15px;
}

.modest-list-title{
    margin-bottom: 15px;
}
