* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

hr {
    color: #dde1e4;
}

[class*=-title] {
    text-transform: uppercase;
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: bold;
}

.buttons {
    font-family: 'Quattrocento Sans', sans-serif;
    border-color: white;
    text-decoration: none;
    border: 1px solid white;
    display: block;
    border-radius: 3px;
    text-transform: uppercase;
}

.buttons:hover {
    color: white;
    /* border: 1px solid #23b7a4; */
    background-color: #23b7a4;
    border-color: #23b7a4;
}

.buttons-size {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    width: 120px;
    color: white;
    margin-right: 10px;
    margin-top: 35px;
}

.pages-frame {
    padding-top: 80px;
    padding-bottom: 60px;
    font-size: 16px;
    line-height: 20px;
}

.pages-title {
    display: flex;
    color: #292f36;
    font-size: 36px;
    line-height: 100%;
    font-weight: bold;
    margin-bottom: 60px;
}

.pages-title::before {
    content: "";
    display: block;
    width: 10px;
    height: 36px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-right: 10px;
}

.color-white {
    color: white;
}

@media (max-width:767px) {
    .nav-mobile-menu {
        width: 15px;
        height: 15px;
        position: relative;
    }

    .nav-mobile-menu span {
        height: 1px;
        background-color: white;
        position: absolute;
        left: 0;
        right: 0;
        transition: .25s ease-in-out;

    }

    .nav-mobile-menu span:first-child {
        top: 3px;
    }

    .nav-mobile-menu span:nth-child(2) {
        top: 7px;
    }

    .nav-mobile-menu span:last-child {
        bottom: 3px;
    }

    .nav-mobile-menu.active-menu span:first-child {
        top:50%;
        transform: rotate(45deg);
    }
    .nav-mobile-menu.active-menu span:nth-child(2) {
        top:50%;
        transform: rotate(-45deg);
    }
    .nav-mobile-menu.active-menu span:last-child {
        transform: scale(0);
    }

    .navigation {
        opacity: 0;
        visibility: hidden;
        position: fixed;
        top:0;
        right: 0;
        bottom: 0;
        max-width: 280px;
        width: 280px;
        transform: translateX(150%);
    }

    .navigation.active-menu {
        opacity: 1;
        visibility: visible;
        top:50px;
        padding: 25px;
        transform: translateX(0);
    }

}