.header-background {
    background-color: #3b3850;
    padding: 25px 0;
    position: sticky;
    top: 0;
}

.content-header {
    align-items: center;
}

.header-menu {
    display: flex;
    justify-content: space-between;
}

.header-menu a {
    text-decoration: none;
    display: block;
    padding: 5px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
    color: #a4aead;
    border: 2px solid rgba(0, 0, 0, 0);
}

.header-menu a:hover {
    border: 2px solid #a4aead;
}


.header-frame-search {
    display: flex;
    border: 2px solid rgba(90, 96, 104, 0.5);
    border-radius: 3px;
    height: 30px;
    flex-grow: 1;
}

.header-input-search {
    /* justify-self: stretch; */
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.header-input-search>input {
    margin-left: 8px;
    /* margin-right: 2px; */
    background: none;
    border: none;
    width: 100%;
    color: white;
}

.header-input-search>input:focus {
    outline: none;
}

.header-button-search {
    flex-basis: 30px;
    height: 100%;
    background: none;
    border: none;
    background-image: url(blog_pics/icon_search_gray.png);
    background-repeat: no-repeat;
    background-position: center;
    justify-self: flex-end;
}

.header-button-search:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

@media(max-width: 320px) {
    .content-header {
        flex-direction: column;
    }
    .col-md-3{
        flex-basis: 100%;
    }

    .col-md-6{
        flex-basis: 100%;
    }

    [class^="content"] {
        width: 320px;
    }
}

.logo-frame{
    display: flex;
    justify-content: space-between;
}

@media (max-width:767px) {
    .nav-mobile-menu {
        width: 15px;
        height: 15px;
        position: relative;
        cursor: pointer;
        z-index: 102;
    }

    .nav-mobile-menu span {
        height: 1px;
        background-color: white;
        position: absolute;
        left: 0;
        right: 0;
        transition: .25s ease-in-out;
    }

    .nav-mobile-menu span:first-child {
        top: 3px;
    }

    .nav-mobile-menu span:nth-child(2) {
        top: 7px;
    }

    .nav-mobile-menu span:last-child {
        bottom: 3px;
    }

    .nav-mobile-menu.active-menu span:first-child {
        top:50%;
        transform: rotate(45deg);
    }
    
    .nav-mobile-menu.active-menu span:nth-child(2) {
        top:50%;
        transform: rotate(-45deg);
    }

    .nav-mobile-menu.active-menu span:last-child {
        transform: scale(0);
    }

    .navigation {
        opacity: 0;
        visibility: hidden;
        position: fixed;
        top:0;
        right: 0;
        bottom: 0;
        max-width: 280px;
        width: fit-content;
        transform: translateX(150%);
        background-color: #3b3850;
        height: fit-content;
        z-index: 102;
    }

    .navigation.active-menu {
        opacity: 1;
        visibility: visible;
        top:50px;
        padding: 15px;
        transform: translateX(0);
    }

    
    .navigation.active-menu>.header-menu {
        flex-direction: column;
    }
    
}