.what-we-do-frame{
    width: 100%;
    height: 300px;
    color: #8d8f92;
}

.what-we-do-image-frame{
    height: 80px;
    background-position: center;
    background-repeat: no-repeat;
}

.what-we-do-image1{
    background-image: url(blog_pics/icon_gears.png);
}
.what-we-do-image2{
    background-image: url(blog_pics/icon_pencil.png);
}
.what-we-do-image3{
    background-image: url(blog_pics/icon_mobile.png);
}

.what-we-do-image4{
    background-image: url(blog_pics/icon_watch.png);
}

.what-we-do-title{
    font-size: 17px;
    font-weight: bold;
    color: #292f36;
    text-align: center;
    margin: 20px 0;
}

.what-we-do-description{
    /* font-family: ; */
    text-align: center;
}

